<div class="panel panel-default">
    <div class="panel-heading">
        <a data-toggle="collapse" data-target="#select-service-body">
            <h4 class="panel-title">{{"filemanager" | translate}}</h4>
        </a>
    </div>
    <div id="select-service-body" class="panel-collapse collapse in">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12">
                  <div class="col-md-6 pull-left"> </div>
                  <div class="col-md-6 pull-right">
                    <div class="navbar-form navbar-right">
                      <input type="text" class="form-control input-sm hide" placeholder="{{'search' | translate}}..." ng-model="$parent.query">
                      <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#newfolder" ng-click="touch()" ng-disabled="fileNavigator.rootLevel">
                          {{"create_folder" | translate}}
                      </button>
                      <button class="btn btn-default btn-sm" data-toggle="modal" data-target="#uploadfile" ng-click="touch()" ng-disabled="fileNavigator.rootLevel">
                          {{"upload_file" | translate}}
                      </button>
                      <button class="btn btn-default btn-sm" ng-click="$parent.setTemplate('main-table.html')" ng-show="$parent.viewTemplate !== 'main-table.html'" title="{{'list' | translate}}">
                          <i class="glyphicon glyphicon-th-list"></i>
                      </button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  </div>

